doctype html
html
  head
    title= title
    link(rel='stylesheet', href='jquery-jvectormap-2.0.3.css', type='text/css')
    link(rel='stylesheet', href='/main.css')

  body(class=pageclass)
    block content

    script(src='/jquery-3.2.1.min.js')
    script(src='/jquery-jvectormap-2.0.3.min.js')
    script(src='/jquery-jvectormap-world-mill-en.js')
    script(src='/vendor.js')
    script(src='/main.js')
