$normal: #50cc82;
$light: #abf0c7;

body {
    background-color: $normal;
    margin: 5%;
}

body.languagestats {
    background-color: #fafafa;
}

a, a:visited {
    color: $light;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    text-align: center;
    font-family: helvetica;
    color: #333;
}

#hashtagstats-map {
    margin: 0 auto;
}
